<div class="searchBar">
  <form method="get" action="/sitters/search">
    <input placeholder="Search" type="text" name="zipCode">
    <button type="submit">Find a sitter!</button>
  </form>
</div>

{{#if loggedIn}}
Session lives
{{/if}}

<p class="bannerMessage">Find the best sitters in your area!</p>






  {{!-- <h1>{{ title }}</h1>
  <p>Welcome to {{ title }}</p> --}}

  {{!-- {{# if condition}}
    Condition met
  {{ else }}
    Condition not met
  {{/if}}
<br>
  {{# each myArray as |val key|}}
    {{key}}:{{val}}
  {{/each}} --}}

  
