<h2 class="welcomeMessage">Session: <span>{{ session.user._id }}</span></h2>
<div>
    {{#if owner }}
        <h2 class="welcomeMessage">Welcome, <span>{{ sitter.firstName }}</span>!</h2>
    {{else}}
        <h2 class="welcomeMessage">This is <span>{{ sitter.firstName }}</span>'s profile!</h2>
    {{/if}}
</div>
    <div class="profileContainer">
        <div class="profileInfoBox">
            <h4>Your User Informations:</h4>
            <p> Username: {{ sitter.username }}</p>
            <p> Name: {{ sitter.firstName }} <span>{{ sitter.lastName }}</span></p>
            <p> Age: {{ sitter.age }} </p>
            <p> Email: {{ sitter.email }} </p>
            <p> Phone: {{ sitter.phone }} </p>
            <p> Zip Codes: {{ sitter.zipCodes }} </p>
        </div>
    </div>
</div>

<div id="chat">
    <div id="chat-window">
        <div id="chat-output"></div>
        <div id="feedback"></div>
    </div>
    {{#if loggedIn}}
    <input id="handle" type="hidden" value={{loggedIn.username}}>
    {{else}}
    <input id="handle" type="text" placeholder="Nickname"/>
    {{/if}}    
    <input id="message" type="text" placeholder="Message"/>
    <button id="send">Send Message</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
<script src="/javascripts/webChat.js"></script>
