{{!-- <h2 class="welcomeMessage">Session: <span>{{ session.user._id }}</span></h2> --}}
<div>
    {{#if owner }}
        <h2 class="welcomeMessage">Welcome, <span>{{ sitter.firstName }}</span>!</h2>
    {{else}}
        <h2 class="welcomeMessage">This is <span>{{ sitter.firstName }}</span>'s profile!</h2>
    {{/if}}
</div>
    <div class="profileContainer">
        <div class="profileInfoBox">
            <h4>Your User Informations:</h4>
            <input id="recevier" type="hidden" value={{sitter.username}} >
            <p> Username: {{ sitter.username }}</p>
            <p> Name: {{ sitter.firstName }} <span>{{ sitter.lastName }}</span></p>
            <p> Age: {{ sitter.age }} </p>
            <p> Email: {{ sitter.email }} </p>
            <p> Phone: {{ sitter.phone }} </p>
            <p> Zip Codes: {{ sitter.zipCodes }} </p>
        </div>
    </div>
</div>

<div>
{{#if userIsOnline}}
    {{#if owner}}
    {{else}}
    <div class="wideCentered">
        <h3 style="color:white" id="user-status">{{sitter.firstName}} is online! Chat with them below!</h3>
    </div>
    {{/if}}
    <div id="chat">
        <div id="chat-window">
            <div id="chat-output"></div>
            <div id="feedback"></div>
        </div>
        {{#if loggedIn}}
        <input id="handle" type="hidden" value={{loggedIn.username}}>
        {{else}}
        <input id="handle" type="text" placeholder="Nickname"/>
        {{/if}}    
        <input id="message" type="text" placeholder="Message"/>
        <button id="send">Send Message</button>
    </div>
{{/if}}
{{#if owner}}
<div>
    <div class="inbox">
        <h4 style="padding-left: 1em">Inbox:</h4>
        <div>
            {{#each sitter.inbox}}
            <div class="inbox-message">
                <p>From: {{ this.sender }}</p>
                <!-- <p th:text="'Received at: ' + ${message.getDate()}">Unknown</p>-->
                <p>---</p>
                <p>{{ this.message }}</p>
                <p>---</p>
                <p>Contact information: </p>
                <p>Email: {{ this.email }}</p>
                <p>Phone: {{ this.phone }}</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>
    {{else}}
    <div class="wideCentered">
        <div id="message-window">
            {{#if userIsOnline}}
                <h5>Send a message!</h5>
            {{else}}
                <h5>{{ sitter.firstName }} is currently offline. Send a message!</h5>
            {{/if}}
            <input id="sender" type="text" placeholder="Nickname"/>
            <input id="email" type="text" placeholder="Email"/>
            <input id="phone" type="text" placeholder="Phone"/>
            <textarea id="message-area" type="text" placeholder="Message"></textarea>
            <h5 id="status-field"></h5>            
            <button id="inboxSend">Send Message</button>        
        </div>
    </div>
{{/if}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
<script src="/javascripts/webChat.js"></script>
