<h2 class="welcomeMessage">Welcome, <span>{{ user.username }}</span>!</h2>
    <div class="profileContainer">
        <div class="profileInfoBox">
            <h4>Your User Informations:</h4>
            <p> Name: {{ user.name }} </p>
            <p> Age: {{ user.age }} </p>
            <p> Email: {{ user.email }} </p>
            <p> Phone: {{ user.phone }} </p>
            <p> Zip Codes: {{ user.zipCodes }} </p>
        </div>
    </div>
</div>
